@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

$maxWidth: 1130px;
$mainCol: #34547A;

.container {
    max-width: $maxWidth;
    margin: 0 auto;
}

.face {
    background-color: #EEEFF1;
    height: 700px;
}

.header {
    padding: 57px 0 0 0;
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__img {
    }

    &__text {
    }

    &__title {
    }

    &__bodytext {
    }

    &__btn {
    }
}
.nav {

    &__logo {
    }

    &__menu {
    }
}

.nav__menu li {
    display: inline-block;
    padding: 0 42px 0 0;
}

.nav__menu li:last-child {
    padding: 0 29px 0 0;
}

.nav__menu li a {
    color: #000;
    transition: all 0.3s ease 0s;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2em;
    &:hover {
        color: $mainCol;
    }
}

.title {
    font-weight: 500;
    font-size: 32px;
}

.bodytext {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.sidebar {
    margin: 162px 0 0 0;
    display: flex;
    justify-content: space-between;
    &__img {
        padding: 21px 0 0 0;
        margin: 0 0 0 82px;
    }

    &__text {
        max-width: 540px;
    }

    &__title {
        font-size: 48px;
    }

    &__bodytext {
        margin: 60px 0 0 0;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right: 300px;
}

.btn {
    position: relative;
    display: inline-block;
    color: #00D5E4;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    overflow: hidden;
    padding: 30px 50px;
    background-color: $mainCol;
}

.button__line {
    position: absolute;
    display: block;
}

.button__line--top {
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent, #00D5E4);
}

.btn:hover .button__line--top {
    left: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.button__line--bottom {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg, transparent, #00D5E4);
}

.btn:hover .button__line--bottom {
    right: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.button__line--left {
    bottom: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(0deg, transparent, #00D5E4);
}

.btn:hover .button__line--left {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0s;
}

.button__line--right {
    top: -100%;
    right: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #00D5E4);
}

.btn:hover .button__line--right {
    top: 100%;
    transition: 1s;
    transition-delay: 0s;
}

.btn:hover {
    box-shadow: 0 0 10px #00D5E4, 0 0 40px #00D5E4, 0 0 80px #00D5E4;
    background-color: #00D5E4;
    color: #EEEFF1;
    transition: 0.2s;
    transition-delay: 1s;
}
























































.flex__facecolumn {
    display: flex;
    flex-direction: column;
}

.content {
    background-color: #FFFFFF;
    height: 366px;
}

.about__me {

    &__text {
        margin: 119px 0 0 0;
        text-align: center;
    }

    &__title {
    }

    &__bodytext {
        max-width: 540px;
        margin: 50px auto 100px auto;
    }
}

.projects {
    height: 250px;
    background-color: $mainCol;
    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        margin: 100px 0;
        &:hover {
            transition: all 0.2s ease 0s;
            filter: drop-shadow(6px 3px 6px rgba(255, 255, 255, 0.569));
        }

        &:not(:hover) {
            transition: all 0.2s ease 0s;
        }
    }

    &__img {
    }

    &__title {
        font-weight: 500;
        font-size: 21px;
        color: #FFFFFF;
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 20px;
    }

    &__bodytext {
        margin: 10px 0 0 0;
        font-size: 16px;
        color: #FFFFFF;
    }
}

.skills {
    margin: 102px 0 0 0;
    &__flex {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        padding: 102px 0 0 0;
    }

    &__title {
    }

    &__barcolumn {
        display: flex;
        flex-direction: column;
        margin: 50px 0 0 0;
    }

    &__bar {
        height: 4px;
        width: 445px;
        background-color: #C4C4C4;
    }

    &__bar:last-child {
        margin: 20px 0 0 0;
    }

    &__item {
        margin: 20px 0 30px 0;
    }

    &__img {
        max-width: 555px;
        max-height: 450px;
        margin: 0 0 100px 0;
    }

    &__value {
        height: 4px;
        width: 350px;
        background-color: $mainCol;
    }
}

.video {
    background-color: #EEEFF1;
    height: 1004px;
    &__column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__text {
        text-align: center;
        margin: 0 auto;
    }

    &__title {
        margin: 100px 0 0 0;
    }

    &__bodytext {
        max-width: 540px;
        margin: 50px 0 0 0;
    }

    &__vid {
        margin: 57px auto 100px auto;
    }
}