
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 20px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body {
    background: url('../img/lines.png') 600px 110px no-repeat, url('../img/Layer 0.jpg') 0 0/100% auto no-repeat;
}

.travel {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #273d46;
    text-align: center;
    margin-top: 160px;
}

.text__top {
    font-size: 36px;
    text-align: center;
    margin-top: 25px;
    white-space: pre-line;
    line-height: 45px;
    margin-bottom: 30px;
}

.middle__image {
	background: url('../img/light-man copy.jpg.png') center no-repeat;
	width: 821px;
	height: 541px;
	margin: auto;
	border: 15px solid #FFFFFF;
	box-shadow: 0 0 30px #828282;
}

.bottom__text {
	padding-top: 110px;
    white-space: pre-line;
    margin-left: 958px;
    font-size: 24px;
    color: #273d46;
    line-height: 40px;
}

.bottom__list {
	margin-top: 60px;
    margin-left: 958px;
}

.bottom__list > li {
	background: url('../img/tick.png') 0 2px no-repeat;
	margin-top: 20px;
	padding-left: 30px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.second {
	color: #80b7b3;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-style: italic;
}

.fourth {
	text-decoration: line-through;
	color: #7a7a7a;
}

.button__block {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: #80b7b3;
	box-shadow: 0 0 30px #80b7b3;
	width: 200px;
	height: 45px;
	border-radius: 50px;
	margin-top: 40px;
	margin-left: 958px;
}

.button__block > a > p {
	padding-left: 20px;
	padding-top: 15px;
	letter-spacing: 2px;
	font-size: 14px;
	color: #FFFFFF;
	text-transform: uppercase;
}

.button__block > a > img {
	margin-top: -15px;
	padding-left: 150px;
}